<h1><center><%= @project.name %></center></h1>
<hr>
<p><b>Material:</b> <%= @project.material %></p>
<p><b>Challenge Theme:</b> <%= @project.challenge.theme %></p>
<p><b>Number of Contestants:</b> <%= @project.number_of_contestants %></p>

<% if @project.average_experience.nil? %>
  <p><b>Average Contestant Experience:</b> Sorry There Are No Contestants On This Project</p>
<% else %>
  <p><b>Average Contestant Experience:</b> <%= @project.average_experience.round(2) %> <b>Years</b></p>
<% end %>

<hr>
<%= form_with url: "/projects/#{@project.id}/contestants", method: :post, local: true do |f| %>
 <h3><%= f.label :contestant_id, "Add Contestant To Project" %></h3>
 <%= f.text_field :contestant_id, placeholder: 'Contestants id' %>
 <%= f.submit "Add Contestant To Project" %>
<% end %>
